.bottombar {
  position: relative;
  text-align: center;
  background-color: lightgray;
  padding: none;
}

.container-fluid {
  padding: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: auto;
  height: 1%;
}

p {
  margin-bottom: 0px;
}
